body {
    background-color: #262626;
    .imagen-home{
        height: 50px;
    }
}

header {
    img {
        height: 100px;
    }
    nav {
        

        ul {
            display: flex;
            list-style: none;

            li {
                color: whitesmoke;
                font-weight: bold;
                margin: 5px;
                a{
            
                }
            }

        }

    }

}
