
.registro {
    display: flex;
    padding-right: 10%;
    padding-left: 7%;
}

h1 {
text-align: center;
color: whitesmoke !important;
margin-top: 20px !important;
}


header {
    border-bottom: 2px solid gray;
    display: flex;
    justify-content: space-around;
    
}
body {
    background-color:#262626 !important;
}

.navbar-brand {
    color: whitesmoke !important
}

.mb-3 {
    color: whitesmoke;
    

}
.form-label {
    padding: 5px;
    
    text-align: justify;
    
}

.aviso-registro {
    display: inline;
    color: whitesmoke;
}
.nav-bar {
    display: flex;
    list-style: none;
    margin-bottom: 0%;
    justify-content: center;
    margin-top: 10px;
}
.nav-item {
    font-weight: bold;
    color: whitesmoke !important;
    padding-right: 3%;
    margin: 6px;
    display: flex;
    justify-content: center;
    text-align: center;
}


.anuncio{
    color: whitesmoke;
    display: block;
    justify-content: center;
    text-align: center;
    background-color:darkred;
    
}

header img {
    height: 70px;
}



  .form-register {
    height: 370px;
    width: 400px;
    background: #262626;
    padding: 30px;
    margin: 10%;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
    margin-top: 50px;
  }
  
  .form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .controls {
    width: 100%;
    background: #262626;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid whitesmoke;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
  }
  
  .form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  .form-register a {
    color: white;
    text-decoration: none;
  }
  .btn-primary{
    width: 100%;
    background: darkred;
    border: none;
    padding: 12px;
    color: white;
    font-size: 16px;
    border-radius: 7px;
  }

  .btn-primary:hover{
    background-color:#262626;
    color: darkred;
    border: 3px solid darkred;
    font-weight: bold;
    transition: 0.5s;
  }

  .aviso-registro {
    font-size: 15px !important;
    text-align: left !important;
  }

footer {
    border-top: 1px whitesmoke solid;
}

footer ul li a {
    display: flex;
    padding: 20px;
    color: whitesmoke;
}

  input:focus::placeholder{
    color:whitesmoke;
  }

  h2 {
    text-align: center;
    color: whitesmoke !important;
    }
    
.imagen-sede{       
    display: flex;
    margin-top: 100%;
    justify-content: right;
}
footer ul li{
    display: flex;
    justify-content: left;

}

.carousel-item {
    height: 50%;
}

.carnet {
    display: flex;
    align-items: end;
    justify-content: center;
    margin:50px;
    height: 500px;
    float: right;
    
}

